@page "/chart"
@inject IAdultService _webAdultService
@inject NavigationManager _navigationManager
@attribute [Authorize(Policy = "SecurityLevel3")]
@using Hand_in1.Models
@using Hand_in1.Data

<div style="color:#fff;">
    Total female count: @_females
    <br/>
    Total male count: @_males
    <hr/>
</div>

<SfAccumulationChart Title="Gender distribution">
    <AccumulationChartSeriesCollection>
        <AccumulationChartSeries DataSource="@GetAllGenders()" XName="Sex" YName="Count"
                                 Name="Gender">
        </AccumulationChartSeries>
    </AccumulationChartSeriesCollection>

    <AccumulationChartLegendSettings Visible="true"></AccumulationChartLegendSettings>
</SfAccumulationChart>

<hr/>

<SfAccumulationChart>
    <AccumulationChartSeriesCollection>
        <AccumulationChartSeries DataSource="@GetAllGenders()" XName="Sex" YName="Count"
                                 Name="Browser" InnerRadius="40%">
        </AccumulationChartSeries>
    </AccumulationChartSeriesCollection>
 
    <AccumulationChartLegendSettings Visible="false"></AccumulationChartLegendSettings>
</SfAccumulationChart>

@code{
    
    private IList<Adult> _allAdults;
    private int _males;
    private int _females;
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            _allAdults = await _webAdultService.ReadAllAsync();
            GetAllFemales();
            GetAllMales();
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            //throw;
        }
    }

    private void GetAllFemales()
    {
        int tmp = 0;
        tmp = _allAdults.Count(adult => adult.Sex.Equals("F"));
        _females = tmp;
    }

    private void GetAllMales()
    {
        int tmp = 0;
        tmp = _allAdults.Count(adult => adult.Sex.Equals("M"));
        _males = tmp;
    }
    
    private List<object> GetAllGenders()
    {
        return new List<object>
        {
            new
            {
                Sex = "Females",
                Count = _females
            },
            new
            {
                Sex = "Males",
                Count = _males
            }
        };
    }
}