@page "/Edit/{Id:int}"
@using Hand_in1.Models
@using Hand_in1.Data
@inject IAdultService _webAdultService
@inject NavigationManager _navigationManager


@if (_adultToEdit == null)
{
    <em>Adult not found!</em>
}
else
{
    <EditForm Model="@_adultToEdit" OnValidSubmit="@Save">
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        <div id="form-container">
            <div id="left">
                <div class="form-group">
                    First name: <br/>
                    <InputText @bind-Value="_adultToEdit.FirstName"/>
                </div>
                <div class="form-group">
                    Last name: <br/>
                    <InputText @bind-Value="_adultToEdit.LastName"/>
                </div>
                <div class="form-group">
                    Hair color: <br/>
                    <InputText @bind-Value="_adultToEdit.HairColor"/>
                </div>
                <div class="form-group">
                    Eye color: <br/>
                    <InputText @bind-Value="_adultToEdit.EyeColor"/>
                </div>
                <div class="form-group">
                    Age: <br/>
                    <InputNumber @bind-Value="_adultToEdit.Age"/>
                </div>
            </div>
            <div id="right">
                <div class="form-group">
                    Weight: <br/>
                    <InputNumber @bind-Value="_adultToEdit.Weight"/>
                </div>
                <div class="form-group">
                    Height: <br/>
                    <InputNumber @bind-Value="_adultToEdit.Height"/>
                </div>
                <div class="form-group">
                    Sex: <br/>
                    <InputText @bind-Value="_adultToEdit.Sex"/>
                </div>
                <div class="form-group">
                    Jobtitle: <br/>
                    <InputText @bind-Value="_adultToEdit.JobTitle.JobTitle"/>
                </div>
                <div class="form-group">
                    Salary: <br/>
                    <InputNumber @bind-Value="_adultToEdit.JobTitle.Salary"/>
                </div>
            </div>
        </div>
        <br/>
        <div class="btn-center">
        <p class="actions">
            <button class="btn btn-outline-dark" type="submit">Save changes</button>
        </p>
        </div>
    </EditForm>
}

@code {

    [Parameter]
    public int Id { get; set; }

    private Adult _adultToEdit;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _adultToEdit = await _webAdultService.ReadAsync(Id);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }

    private async Task Save()
    {
        try
        {
            await _webAdultService.UpdateAsync(_adultToEdit);
            _navigationManager.NavigateTo("/Adults");
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
            throw;
        }
    }

}